/*********
mobile first
*********/
html {
  font-size: 20px;
}

body {
    color: royalblue;
    margin: auto;
    padding: 0;
    background-color: #fff;
    font-family: 'Reem Kufi', sans-serif;
    width: 100%;
    margin: auto;
    background-size: cover;
}

header {
  font-size: 1.5em;
}

h1 {
  margin-left: 3%;
  font-size: 3em;
  float: center;
}

h3 {
  margin-left: 5%;
  font-size: 2em;
}

ul li {
  list-style: none;
  float: right;
  margin-right: 30px;
  position: relative;
}

ul li a {
   text-decoration: none;
   color: royalblue;
}

img {
  width: 1.25em;
  margin-bottom: -5px;

}

form {
  margin-left: 3%;
}

form input {
  height: 30px;
  width: 200px;
  margin-left: 5%;
  border-radius: 3px;
}

footer {
  margin: 10%;
  font-size: .75em;
}

.info {
margin-left: 5%;
font-size: 1.1em;
}

#about {
  clear: both;
}

#work {
  height: 300px;
}

#message {
  height: 75px;
  width: 300px;;
}

/*experiment
*/
#scrolltop {
	background-color: white !important;
	color:royalblue;
  text-align: center;
	border-radius: 2px;
	border: 0;
	outline: 0;
  left: 0;
  top: 0;
  width: 100%;
	bottom: 50px;
	height: 50px;
	position: fixed;
	z-index:9999;
  padding-top: 20px;
}
h2 a {
  text-decoration: none;
}
#scrolltop:hover {
opacity: 1.0;
}
.scrolltop {
 display:none;
}
/*********
tablet
**/



/*********
desktop
**/





